<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.renthouse.mapper.HouseMapper">
    <resultMap type="com.design.renthouse.entity.House" id="house">
        <id column="house_id" jdbcType="INTEGER" property="houseId" />
        <result column="house_desc" jdbcType="VARCHAR" property="houseDesc"/>
        <result column="house_model" jdbcType="VARCHAR" property="houseModel"/>
        <result column="house_area" jdbcType="VARCHAR" property="houseArea"/>
        <result column="house_floor" jdbcType="VARCHAR" property="houseFloor"/>
        <result column="house_type" jdbcType="VARCHAR" property="houseType"/>
        <result column="house_price" jdbcType="INTEGER" property="housePrice"/>
        <result column="house_address" jdbcType="VARCHAR" property="houseAddress"/>
        <result column="house_image" jdbcType="VARCHAR" property="houseImage"/>
        <result column="community_name" jdbcType="VARCHAR" property="communityName"/>
        <result column="house_linkman" jdbcType="VARCHAR" property="houseLinkMan"/>
        <result column="house_oriented" jdbcType="VARCHAR" property="houseOriented"/>
        <result column="house_detailsimg" jdbcType="VARCHAR" property="houseDetailsImg"/>
        <result column="publisher" jdbcType="VARCHAR" property="publisher"/>
        <result column="publish_time" jdbcType="DATE" property="publishTime"/>
    </resultMap>
    <insert id="addNewHouse" parameterType="com.design.renthouse.entity.House">
		insert into
			house
		values
		(	0,
			#{houseDesc},
			#{houseModel},
			#{houseArea},
			#{houseFloor},
			#{houseType},
			#{housePrice},
			#{houseAddress},
			#{houseImage},
			#{communityName},
			#{houseLinkMan},
			#{houseOriented},
			#{houseDetailsImg},
			#{publisher},
			NOW()
		)
	</insert>
	<!-- 查找用户发布的房源信息 -->
	<!--/*select * from house where publisher = #{publisher}  ORDER BY ${sortName} ${sortOrder},house_id  ${sortOrder} limit #{page},#{limit}*/-->
	<select id="findHouseByUser" parameterType="com.design.renthouse.entity.Page" resultMap="house">
		select * from house
		<where>
			<if test="publisher!=null">
				and publisher = #{publisher}
			</if>
			<if test="searchkey !=null and searchkey !=''">
				and community_name like concat('%',#{searchkey},'%')
			</if>
		</where>
		ORDER BY ${sortName} ${sortOrder},house_id  ${sortOrder} limit #{page},#{limit}
	</select>
	<!-- 查找用户发布的房源信息(总数) -->
	<select id="findAllHouseByUser" parameterType="com.design.renthouse.entity.Page" resultMap="house">
		select * from house where publisher = #{publisher}
	</select>
	<!-- 删除用户发布的房源信息 -->
	<delete id="deleteUserHouse" parameterType="int">
		delete from house where house_id=#{houseId}
	</delete>
	<!-- 房屋详细信息 -->
	<select id="findHouseDetailsById" parameterType="int" resultMap="house">
		SELECT *
		FROM
			house
		WHERE
			house_id=#{houseId}
	</select>
	<!-- 修改用户发布的房源信息 -->
	<update id="updateHouse" parameterType="com.design.renthouse.entity.House">
		UPDATE house
		SET
			house_desc = #{houseDesc},
			house_model = #{houseModel},
			house_area = #{houseArea},
			house_floor = #{houseFloor},
			house_type = #{houseType},
			house_price = #{housePrice},
			house_address = #{houseAddress},
			house_oriented = #{houseOriented},
			house_linkman = #{houseLinkMan},
			community_name = #{communityName},
			publish_time=#{publishTime}
		WHERE
			house_id = #{houseId}
	</update>
	<!-- 首页信息查询 -->
	<select id="findHomeInfo" resultMap="house">
		SELECT
			house_id,
			house_desc,
			house_model,
			house_area,
			house_type,
			house_price,
			house_floor,
			house_address,
			house_image
		FROM
			house
	</select>
	<!-- 条件搜索 -->
	<select id="findHouseByLike" parameterType="string" resultMap="house">
		SELECT
			*
		FROM
			house h
		WHERE
			CONCAT(
				h.community_name,
				h.house_desc,
				h.house_model
			) LIKE CONCAT("%", #{keywords}, "%")
	</select>
	<select id="findHouseOrderByDesc" resultMap="house">
		SELECT * FROM house h ORDER BY house_price DESC
	</select>

	<select id="findHouseOrderByAsc" resultMap="house">
		SELECT * FROM house h ORDER BY house_price ASC
	</select>

</mapper>